@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Righteous and Lobster are both fun choices */

:root {
  --primary-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  color: white;
  font-family: var(--primary-font);
  font-size: 1.25rem;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Righteous', sans-serif;
  font-size: 3.5rem;
  /* margin-top: 0; */
}

.btn {
  font-family: var(--primary-font);
}

.footer {
  position: fixed;
  bottom: 15px;
  /* font-family: var(--primary-font); */
}

.search {
  position: relative;
  height: 50px;
  transition: transform 0.3s ease;
}

.search input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.search.active input {
  width: 230px;
}

.search button {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.search.active button {
  transform: translateX(198px);
}

.search button:focus,
.search input:focus {
  outline: none;
}

.search-results {
  list-style-type: none;
  flex-direction: row;
  flex-wrap: wrap;
}

#nominations {
  position: fixed;
  right: 5px;
  top: 5px
}

#nominations ul {
  list-style-type: none;
}

.card {
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(158, 113, 203);
  border-radius: 5px;
}

.card img {
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: rgb(254, 254, 0);
  color: rebeccapurple;
  font-weight: bold;
  font-size: 1.75rem;
}
