@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Righteous and Lobster are both fun choices */

* {
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: 'Righteous';
}
